{% extends "base.html" %}

{% block extra_head_css %}
<link href="/static/css/bg.css" rel="stylesheet">
{% endblock %}

{% block extra_nav %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{{url_for('logout')}}">logout</a></li>
    </ul>
</li>
{% endblock %}

{% block base_content %}
<div id="content">
    <form id="upload" role="form" method="POST" enctype="multipart/form-data" action="{{url_for('upload')}}">
        <div class="form-group">
            <label for="primary-language">Primary Language Code</label>
            <input type="text" class="form-control" id="primary-language" name="video-lang" placeholder="Language Code (i.e. 'en')">
        </div>
        <div class="form-group">
            <label for="team">Team</label>
            <select name="team" class="form-control">
                <option value="">-----</option
                {% for team in teams %}
                <option value="{{team.slug}}">{{team.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="project">Project. Leave blank if you do not wish to place videos in a specific project</label>
            <input type="text" class="form-control" id="project" name="project" placeholder="Slug for the target project (i.e. 'batch-11-22415')">
        </div>
        <div class="form-group">
            <label for="video-file">Select video files (.mp4) to upload</label>
            <input type="file" id="file-picker" name="file" accept="video/*" multiple><p>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Upload</button>
  </form>
</div>
<script type="text/javascript">
</script>
{% endblock %}
